*.py[cod]
*.log
*.ttl
*.gitbash
*.ignore
*.pem
.cache/
logs/
log/
/tt_script/_tt_config_ini/tmp/
*_ignore.py
*.translate
httpMRQ/mrq-config.py
httpMRQ/config.js
node_modules
test_api/api_args.txt

*.rdb
*.access_log
*.ignore.*

*.tmp