<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>服务器列表</title>
</head>
<body>
	<ul class="subnavmenu" id="submenus01" style="z-index: 2000; left: 290px; top: 49px; visibility: visible;">
		<li class="topline">
			<a href="/cn-guild/" class="sub">国服</a>
			<ul style="left: 172px; top: 0px; visibility: visible;">
				<li class="topline">
					<a href="/cn-guild/一区-zone/" class="sub">一区</a>
					<ul style="left: 172px; top: 0px; visibility: visible;">
						<li class="topline">
							<a href="/cn-guild/Battle Group 1-bg/" class="sub">Battle Group 1</a>
							<ul style="left: 0px; top: 0px;">
								<li class="topline">
									<a href="/cn-guild/回音山/">回音山</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/cn-guild/Battle Group 2-bg/" class="sub">Battle Group 2</a>
							<ul style="left: 0px; top: 0px;">
								<li class="topline">
									<a href="/cn-guild/普瑞斯托/">普瑞斯托</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/cn-guild/Battle Group 7-bg/" class="sub">Battle Group 7</a>
							<ul style="left: 0px; top: 0px;">
								<li class="topline">
									<a href="/cn-guild/耳语海岸/">耳语海岸</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/cn-guild/Battle Group 8-bg/" class="sub">Battle Group 8</a>
							<ul style="left: 0px; top: 0px;">
								<li class="topline">
									<a href="/cn-guild/霜之哀伤/">霜之哀伤</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</body>
</html>